:root {
  --tile-size: 100px;
  --gap-size: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spot {
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: white;
}

.spot > img {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(var(--tile-size) * 3 + var(--gap-size) * 2);
  height: calc(var(--tile-size) * 3 + var(--gap-size) * 2);
  background-color: black;
}

.row {
  height: var(--tile-size);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.play-again-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.play-again-modal > h2 {
  color: white;
  display: inline;
}
